body{
    height: 836px;
    background-image: linear-gradient(silver,black);
    padding-top: 70px;
    font-family: 'MedievalSharp', cursive;
}
img{
    height: 200px;
    width: 200px;
}
button{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #c0c0c0;
}
button :hover{
    height: 250px;
    width: 250px;
}

h1{
    font-size: 75px;
}

#layout{
    display: flex;
    justify-content: center;
}

#reset{
    margin-top: 10px;
}

